@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-mono: var(--font-space-mono);
}

@utility prose-blog {
  --tw-prose-body: var(--color-white);
  --tw-prose-headings: var(--color-white);
}
